<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a href="/"><img class="title-icon" src="img/armadillo.jpeg" alt="Armadillo"></a>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item <% if (active === 'home') { %> active <% } %>">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item <% if (active === 'clients') { %> active <% } %>">
          <a class="nav-link" href="/clients">Clienti <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item <% if (active === 'structures') { %> active <% } %>">
            <a class="nav-link" href="/structures">Strutture</a>
          </li>
          <li class="nav-item <% if (active === 'activities') { %> active <% } %>">
            <a class="nav-link" href="/activities">Attività <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Admin
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/register">Registra</a>
            <a class="dropdown-item" href="/login">Accedi</a>
          </div>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
