<%- include('partials/header') %>
<%- include('partials/navbar') %>

<div class="jumbotron-centered">
  <div class="container">
    <h1 class="display-3">Armadillo</h1>
    <p class="lead">La struttura più adeguata per le tue esigenze</p>
    <hr>  
  </div>
</div>
<%- include('partials/footer') %>
